@charset "utf-8";

.corpo {
	
	background-color: #fdce60;
}

.logo {
	width: 120px;
	height: 120px;
}

/*formatação do menu*/
.menu {
	position: absolute;
	left: 85pt;
	top: 10pt;
	right: 10pt;
}

.barra-do-menu {
	background-color: #02fdfd;
	height: 90px;
}

.botoes-menu {
	height: 70px !important;
	background-color: rgba(0,0,0,0)
}

.botoes-menu:hover {
	background-color: #06a6b3;
	color: #ffffff;
	text-decoration: underline;
	transition: 1s;
}
