.estilo1{
	color: blue;
}
div.alinha{
	margin-left: 301px;
	
}

ul.est{
	justify-content: baseline;
	margin:4px;
	padding: 0px;
	display:block;
	position: relative;
		
}
p.estiP{
	text-indent: 50px;
	justify-content: baseline;
	margin:25px;
	padding: 0px;
	display:block;
	position: relative;

}

li.emlinha{
	display: inline-block;
	
	
}

.fundo{
	
	background: #9ecedde3;

}
#conteudo {
	width: 100%;
	float: right;
	text-align: left;
	}

	#menu {
		width: 100%;
		
		float: left;
		}

		#menu ul li {
			margin: 0; padding: 0px;
			border-bottom: 0px solid #CCC;
			text-align: left;
			list-style-type: circle;
			}

			.rolagem{
				position:fixed; 
				 
				left:0%;
				 width:300px; 
				height:300px;
				 background:#f1f1fa;
			}
.foscoAzul{
	background: #2262c2;
	opacity: 0.4;
	 
}
